<?xml version="1.0" encoding="UTF-8"?>
<suite name="StringSuite">
	
	<!-- <test name="arrayTest">
		<classes>
		<class name="com.test.LargestNumberTest"></class>
		</classes>
	</test>  -->
	
	<test name="GroupTest">
	<methods>
		<include
		</include>
	</methods>
	<groups>
	<!-- <define name="all">
	<include name="functest"/>
	<include name="checkintest"/>
	</define> -->
	<run>
<!-- 	<include name="all"/> -->
	<include name="checkintest"/>
	</run>
	</groups>
	
	<classes>
	<class name="com.test.MessageUtilTest"></class>
	</classes>
	</test>
	<test name="StringTest">
	<classes>
		<class name="com.test.StringOperationTest"></class>
		<!-- <class name="com.test.StringOperationObjTest"></class> -->
	</classes>
	</test>
</suite>	