doctype
html
   head
      title Home Page
      script(src='/javascripts/util.js')
      link(href='stylesheets/style.css',rel='stylesheet')
      body
         p Welcome to Home Page
         p
         span
         | this is express
         | creating a web application
         h1 Heading 1
         a(href='http://www.google.com') Click Me
         script
            dialog('New Alert')

